
.SearchMainDiv
{
    display: flex;
    flex-direction: row;

}
.SearchIcon
{
   color: rgb(255, 255, 255); 
   width: 1.5vw;
   height:1.5vw ;
   min-width: 20px;
min-height: 20px;
}
.SearchIcon:hover
{
color: rgb(231, 67, 67);
transform: scale(1.2);
transform: rotate(30deg);
cursor: pointer;
}
.InputDiv
{
margin-right: 5%;
display: flex;
flex-direction: row;

}



.SearchInputBox
{
    color: white;
    max-height: 40px;
    max-width: 350;
    height:4vw;
    width: 19vw;
    min-height: 25px;
    min-width: 180px;
    background-color: black;
    border: 1px solid #ffffff; 
    padding-left: 15%;
    border-radius: 10px;
    font-size:clamp(7px,2vw,11px) ;
       animation: Inputboxanimation 0.8s ease forwards;
}

@keyframes Inputboxanimation {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}



.Searchresult
{
    position: absolute;
    
}

.SearchButton
{
color: white;
margin-left: 2%;
min-width: 50px;
width: 4vw;
font-size: clamp(7px,1.5vw,13px);
font-weight: 700;
border-radius: 10px;
background-color: black;
 border: 1px solid #ffffff; 
 animation: SearchButtonBounce 0.8s forwards;
  opacity: 0;
  transform-origin: center bottom;
}
.SearchButton:hover
{
    background-color: rgba(0, 0, 0, 0.525);
    cursor: pointer;
}
@keyframes SearchButtonBounce {
  0% {
    transform: rotate(50deg) translateY(-30px);
    opacity: 0;
  }
  60% {
    transform: rotate(-10deg) translateY(10px);
    opacity: 0.5;
  }
  80% {
    transform: rotate(5deg) translateY(-5px);
    opacity: 0.8;
  }
  100% {
    transform: rotate(0deg) translateY(0);
    opacity: 1;
  }
}

.SearchIconinideinput
{
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 4%;
    width: 1.7vw;
    height:1.7vw ;
    max-height: 13px;
    max-width: 13px;
    min-height:11px ;
    min-width: 11px;
    z-index: 3;
      animation: iconAppear 3s ease-in-out infinite;
     transform-origin: center;
}

@keyframes iconAppear {
  0% {
    transform: scale(0.7) rotate(-15deg);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.3) rotate(30deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.7) rotate(-15deg); /* same as 0% for smooth loop */
    opacity: 0.5;
  }
}
